@model ResetPasswordViewModel


<div class="app-form">
	<div class="app-form-sidebar">
		<div class="sidebar-sign-logo">
			<img src="images/sign-logo.svg" alt="">
		</div>
		<div class="sign_sidebar_text">
			<h1>The Easiest Way to Create Events and Sell More Tickets Online</h1>
		</div>
	</div>
	<div class="app-form-content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-10">
					<div class="app-top-items">
						<a asp-controller="Home" asp-action="Index">
							<div class="sign-logo" id="logo">
								<img src="images/logo.svg" alt="">
								<img class="logo-inverse" src="images/dark-logo.svg" alt="">
							</div>
						</a>
						<div class="app-top-right-link">
							<a class="sidebar-register-link" href="sign_in.html"><i class="fa-regular fa-circle-left me-2"></i>Back to sign in</a>
						</div>
					</div>
				</div>
				<div class="col-xl-5 col-lg-6 col-md-7">
					<div class="registration">
						<form>
							<h2 class="registration-title">Reset Password*</h2>
							<div class="form-group mt-5">
								<label class="form-label">Your New Password*</label>
                                <input class="form-control h_50" type="password" id="forgotPass" placeholder="Enter your new passwork">
							</div>
							<div class="form-group mt-5">
								<label class="form-label">Your Confirm Password*</label>
                                <input class="form-control h_50" type="password" id="confirmPass" placeholder="Enter your confirm password">
							</div>
                            <button class="main-btn btn-hover w-100 mt-4" id="updateBtn">Update</button>
                        </form>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-footer">
			© 2023, Barren. All rights reserved. Powered by Wall
		</div>
	</div>
</div>

@section scripts {
    <script>
        var updateBtn = document.getElementById("updateBtn");
        updateBtn.addEventListener("click", function (event) {
			spinnerShow();
            UpdatePassword(event);
        })


        function UpdatePassword(event) {
            event.preventDefault();
            var password = document.getElementById("forgotPass").value;
            var model = {
                UserId: '@Model.UserId',
                Token: encodeURIComponent('@Model.Token'),
                NewPassword: password
            };


            $.ajax({
                url: '@Url.Action("ResetPassword")',
                type: "POST",
                data: model,
                dataType: "json",
                success: function (response) {
                    if (response.success) {
						alert("The account's password has been updated. Please login!!!");
                        // Đăng nhập thành công, thực hiện hành động tương ứng (ví dụ: chuyển hướng)
                        window.location.href = response.redirectUrl;
                    } else {
                        // Đăng nhập thất bại, xử lý thông báo lỗi hoặc hành động phù hợp
						alert("Login failed: " + response.error);
						spinnerHide();
                    }
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        }

    </script>
}